body {
    font-family: Georgia,serif;
    background-color: #EEE;
    margin: 0;
}
#book{
    width: 640px;
    margin: 24px auto 100px;
    padding: 64px;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD;
    z-index: 100;
    box-shadow: 14px 11px 27px #888;
}
h2, h3, h4, h5 {
    color: #700;
    font-weight: bold;
    margin-bottom: 36px;
}
h2 {
    margin-top: 64px;
    font-size: 180%;
}
#book p {
    text-align: justify;
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 48px;
    margin-top: -22px;
}
#book:focus{
    outline:0
}
hr{
    border: 0;
    border-bottom: 1px solid #000; 
}
/*Additional CSS BOOTSRAP HELP*/
.bg-black{
    margin-left:8%;
    position: fixed;
}
input[type="button"]{
    border:0;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3d3d3d;
    color: #fff;
}
.container{
  float: left;
  clear: none; 
}
.lea{
    position: absolute;
    top: 0;
    font-size: 20px;
    margin-left: 15px;
    color: #428BCA;
}
.form-inline{
    color: #fff;
    width: 360px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left: 3%;
    margin-top: 2px;
}
#shadow{
    width: 102%; height: 100vh; background: #3d3d3d; z-index:100; position:fixed;
}
.crossimg{
    margin: 0;
    padding: 0;
    height: 12px;
}